{:blocks (
{:block/content ""
:block/created-at 1699052767861
:block/format :markdown
:block/properties 
{}
:block/updated-at 1699052767861
:block/uuid #uuid "65457d4d-71d4-4e89-80ec-c64fe61f9878"} 
{:block/created-at 1699052878047
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "65457d4d-71d4-4e89-80ec-c64fe61f9878"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41.00000381469726]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d2db36e0-7a9d-11ee-b963-11fb9f9a75d7"
:noFill false
:point [-104 -184]
:parentId ""
:collapsedHeight 0
:nonce 1699052876112}}
:block/updated-at 1699052878047})
:pages (
{:block/created-at 1699052849984
:block/name "questdb"
:block/original-name "questdb"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id ""
:name "questdb"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("d2db36e0-7a9d-11ee-b963-11fb9f9a75d7")}}
:block/type "whiteboard"
:block/updated-at 1699052894199})}